{erl_opts, [debug_info, {parse_transform}]}.

{deps, [
  {eserial, {git, "https://github.com/vzroman/eserial.git", {branch, "main"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [ft12_sniffer]}
]}.

{relx, [
  {release, {ft12_sniffer, "0.0.1"}, [
    kernel,
    stdlib,
    sasl,
    eserial
  ]},
  {include_erts, false},
  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true},
  {overlay, [
  ]}
]}.